/* Global Styles & Layout */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: block flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #343A40;
    background-color: #F8F9FA;
}

/* Header */

header {
    display: block flex;
    flex-direction: column;
    align-items: center;
}

header button {
    display: inline flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    background-color: transparent;
    color: inherit;
}

header button:hover {
    cursor: pointer;
    background-color: #DEE2E6;
}

header button span {
    font-size: 36px !important;
}

header h2 {
    display: inline flex;
    align-items: center;
}

header h2.turn-cross::after {
    content: "\E5CD";
    margin-left: 10px;
    font-family: "Material Symbols Outlined";
    font-size: 150% !important;
    color: #023E8A;
}

header h2.turn-nought::after {
    content: "\EF4A";
    margin-left: 10px;
    font-family: "Material Symbols Outlined";
    font-size: 150% !important;
    color: #1B4332;
}

/* Grid & Cells */

section#grid {
    display: block grid;
    position: relative;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    height: 50vmin;
    width: 50vmin;
    background-color: #343A40;
}

section#grid > div {
    position: relative;
    background-color: #F8F9FA;
}

section#grid:not(.end) > div:hover {
    cursor: pointer;
}

section#grid svg {
    position: absolute;
}

section#grid > div.nought-win {
    background-color: #D8F3DC;
}

section#grid > div.cross-win {
    background-color: #CAF0F8;
}

/* Nought Animation */

@keyframes draw-nought {
    0% {
        stroke-dashoffset: -1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

circle:not(.preview) {
    animation-name: draw-nought;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* Cross Animation */

@keyframes draw-cross {
    0% {
        stroke-dashoffset: 1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

line:not(.preview):first-child {
    animation-name: draw-cross;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

line:not(.preview):last-child {
    animation-name: draw-cross;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/* Small Screen Styles */

@media (max-width: 500px) {
    section#grid {
        height: 100vw;
        width: 100vw;
    }
}
