/* Global Styles & Layout */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: block flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #343A40;
    background-color: #F8F9FA;
}

/* Header */

header {
    text-align: center;
}

header h2 {
    display: inline flex;
    align-items: center;
}

header h2.turn-cross::after {
    content: "\E5CD";
    margin-left: 10px;
    font-family: "Material Symbols Outlined";
    font-size: 150% !important;
    color: #023E8A;
}

header h2.turn-nought::after {
    content: "\EF4A";
    margin-left: 10px;
    font-family: "Material Symbols Outlined";
    font-size: 150% !important;
    color: #1B4332;
}

/* Grid */

section#grid {
    display: block grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    height: 50vmin;
    width: 50vmin;
    background-color: #343A40;
}

section#grid > div {
    position: relative;
    background-color: #F8F9FA;
}

section#grid svg {
    position: absolute;
}
